**Zad 1**

Utworzyć zapytanie, które na podstawie SalesOrderHeader.ShipToAddressID zwróci listę miast, do których towary zostały już dostarczone. Lista ma być posortowana i bez powtarzających się wartości. 

[https://dataedo.com/samples/html/AdventureWorks/doc/AdventureWorks\_2/tables/Sales\_SalesOrderHeader\_185.html](https://dataedo.com/samples/html/AdventureWorks/doc/AdventureWorks_2/tables/Sales_SalesOrderHeader_185.html)

status == 5 -\> shipped

In [2]:
SELECT TOP 5 *
FROM SalesLT.SalesOrderHeader

SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,ShipToAddressID,BillToAddressID,ShipMethod,CreditCardApprovalCode,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
44,0,2022-03-13 19:07:36.680,2008-06-13 00:00:00.000,NULL,1,1,SO44,NULL,NULL,29847,NULL,NULL,CARGO METHOD 5,NULL,"0,00","0,00","0,00","0,00",testingval,bfb9c8e6-cdd2-4f23-810e-68b2efdfee42,2022-03-13 19:07:36.680
71774,2,2008-06-01 00:00:00.000,2008-06-13 00:00:00.000,2008-06-08 00:00:00.000,5,0,SO71774,PO348186287,10-4020-000609,29847,1092,1092,CARGO TRANSPORT 5,NULL,"880,3484","70,4279","22,0087","972,785",NULL,89e42cdc-8506-48a2-b89b-eb3e64e3554e,2008-06-08 00:00:00.000
71776,2,2008-06-01 00:00:00.000,2008-06-13 00:00:00.000,2008-06-08 00:00:00.000,5,0,SO71776,PO19952192051,10-4020-000106,30072,640,640,CARGO TRANSPORT 5,NULL,"78,81","6,3048","1,9703","87,0851",NULL,8a3448c5-e677-4158-a29b-dd33069be0b0,2008-06-08 00:00:00.000
71780,2,2008-06-01 00:00:00.000,2008-06-13 00:00:00.000,2008-06-08 00:00:00.000,5,0,SO71780,PO19604173239,10-4020-000340,30113,653,653,CARGO TRANSPORT 5,NULL,"38418,6895","3073,4952","960,4672","42452,6519",NULL,a47665d2-7ac9-4cf3-8a8b-2a3883554284,2008-06-08 00:00:00.000
71782,2,2008-06-01 00:00:00.000,2008-06-13 00:00:00.000,2008-06-08 00:00:00.000,5,0,SO71782,PO19372114749,10-4020-000582,29485,1086,1086,CARGO TRANSPORT 5,NULL,"39785,3304","3182,8264","994,6333","43962,7901",NULL,f1be45a5-5c57-4a50-93c6-5f8be44cb7cb,2008-06-08 00:00:00.000

Check DB Schema -\> ShipToAddressId == AddressID

Distinct -\> bez powtarzających, Order By -\> sort

In [1]:
SELECT DISTINCT SalesLT.Address.City
FROM SalesLT.Address, SalesLT.SalesOrderHeader
WHERE SalesLT.Address.AddressID = SalesLT.SalesOrderHeader.ShipToAddressID
AND SalesLT.SalesOrderHeader.[Status] = 5
ORDER BY SalesLT.Address.City DESC

City
Woolston
Wokingham
West Sussex
Van Nuys
Union City
Sherman Oaks
Santa Fe
Santa Ana
Sandy
Oxon
Oxnard
Milton Keynes
Maidenhead
London
Liverpool
Las Vegas
High Wycombe
Gloucestershire
Fullerton
Englewood
El Segundo
Daly City
Culver City
Cerritos
Cambridge
Camarillo
Auburn
Alhambra
Abingdon