Uses separate connection

In [1]:
INSERT INTO TEST
    VALUES ('a'), ('b'), ('c')