**Zad 7**

Utwórz tabelę Test z kolumną IDENTITY, gdzie identyfikatory mają się zaczynać od 1000 i przesuwać o 10. Zademonstruj różnicę pomiędzy @@IDENTITY i IDENT CURRENT.

pole liczbowe z generatorem wartości

@@IDENTITY -\> ostatnio wygenerowany numer w ramach sesji

SCOPE\_IDENTITY -\> obecny zakres w ramach sesji

IDENT\_CURRENT -\> ostatnio wygenerowany numer w ramach WSZYSTKICH sesji i zasięgów (czyli np. robimy 2 połączenia i to zwróci z ostatniego)

In [14]:
IF NOT EXISTS (SELECT * from sysobjects where name='Test' and xtype='U')
    CREATE TABLE Test
    (
        id_gen int IDENTITY(1000, 10),
        name VARCHAR(30)
    );
GO

In [15]:
INSERT INTO TEST
    VALUES ('a'), ('b'), ('c')

In [16]:
SELECT * FROM Test

id_gen,name
1000,a
1010,b
1020,c

In [24]:
SELECT @@IDENTITY

(No column name)
1020

In [25]:
SELECT IDENT_CURRENT('Test')

(No column name)
1050

In [12]:
DROP TABLE Test