# Zad 1

Utworzyć funkcję w T-SQL, która jako parametr bierze liczbę dni, a w wyniku zwraca tabelę (PESEL, LiczbaEgzemplarzy), która zawiera listę czytelników przechowujących co najmniej jeden egzemplarz jakiekolwiek książki niekrócej niż liczba dni określona w parametrze. W drugiej kolumnie należy dołączyć liczbę przetrzymywanych egzemplarzy.

In [34]:
DROP FUNCTION IF EXISTS pozyczone

zwraca ile jest przetrzymywanych powyżej danego dnia

In [29]:
CREATE FUNCTION pozyczone (@dni INT = 0) RETURNS TABLE
AS
RETURN
    SELECT Czytelnik.PESEL, COUNT(Wypozyczenie.Wypozyczenie_ID) AS LiczbaEgzemplarzy
    FROM Czytelnik
    INNER JOIN Wypozyczenie ON Czytelnik.Czytelnik_ID = Wypozyczenie.Czytelnik_ID
    WHERE DATEDIFF(day, Wypozyczenie.Data, GETDATE()) >= @dni
    GROUP BY Czytelnik.PESEL

In [30]:
SELECT *
FROM pozyczone(750)

SELECT *
FROM pozyczone(800)

PESEL,LiczbaEgzemplarzy
55101011111,4
60101033333,3
65120122222,4

PESEL,LiczbaEgzemplarzy
55101011111,1

zwraca ile jest przetrzymywanych RAZEM

In [31]:
DROP FUNCTION IF EXISTS pozyczone

In [32]:
CREATE FUNCTION pozyczone (@dni INT = 0) RETURNS TABLE
AS
RETURN
    SELECT Czytelnik.PESEL, COUNT(Wypozyczenie.Wypozyczenie_ID) AS LiczbaEgzemplarzy
    FROM Czytelnik
    INNER JOIN Wypozyczenie ON Czytelnik.Czytelnik_ID = Wypozyczenie.Czytelnik_ID
    GROUP BY Czytelnik.PESEL
    HAVING MAX(DATEDIFF(day, Wypozyczenie.Data, GETDATE())) >= @dni

In [33]:
SELECT *
FROM pozyczone(750)

SELECT *
FROM pozyczone(800)

PESEL,LiczbaEgzemplarzy
55101011111,5
60101033333,3
65120122222,5

PESEL,LiczbaEgzemplarzy
55101011111,5