# Zad 2

Utworzyć tabele imiona(id, imie), nazwiska(id, nazwisko) oraz dane(imie, nazwisko). Wstawić testowe dane do tabel imiona i nazwiska, a następnie utworzyć procedurę, która dla zadanego parametru n do tabeli dane wstawi n losowo dobranych par (imię, nazwisko) uprzednio usuwając jej zawartość. Jeśli n będzie większe od połowy wszystkich możliwych kombinacji, należy to zakomunikować poprzez odpowiednie wywołanie instrukcji THROW. Klucz główny tabeli dane tworzą kolumny (imię,nazwisko), dlatego trzeba zadbać o to, żeby podczas generowania danych każdą parę (imię,nazwisko) wygenerować co najwyżej raz

In [60]:
DROP TABLE IF EXISTS firstnames
GO

CREATE TABLE firstnames (
	id INT PRIMARY KEY,
	firstname VARCHAR(25)
)

INSERT INTO firstnames
VALUES 
    (1, 'Artur'),
    (2, 'Tomasz'),
    (3, 'Łukasz'),
    (4, 'Roman'),
    (5, 'Geralt'),
    (6, 'Dariusz')

DROP TABLE IF EXISTS surnames
GO

CREATE TABLE surnames (
	id INT PRIMARY KEY,
	surname VARCHAR(40)
)

INSERT INTO surnames
VALUES 
    (1, 'Nowak'),
    (2, 'Kowalski'),
    (3, 'Lewandowski'),
    (4, 'Kowalczyk'),
    (5, 'Kamiński'),
    (6, 'Zieliński')
    
DROP TABLE IF EXISTS perdata
GO

CREATE TABLE perdata (
    firstname VARCHAR(25),
    surname VARCHAR(40),
    CONSTRAINT PK_personData PRIMARY KEY (firstname, surname)
)

Właściwe zadanie -\> procedura

In [61]:
DROP PROCEDURE IF EXISTS insertRandomData
GO

CREATE PROCEDURE insertRandomData @n INT AS
BEGIN
    DELETE FROM perdata -- first clear the table

    DECLARE @nameCount INT = (SELECT COUNT(DISTINCT firstnames.firstname) FROM firstnames)
    DECLARE @surnameCount INT = (SELECT COUNT(DISTINCT surnames.surname) FROM surnames)

    DECLARE @possibilities INT = @nameCount * @surnameCount
    -- print @possibilities

    IF (@n > (@possibilities / 2))
        THROW 50110, 'The n paramater is too large.', 1;  

    DECLARE @i INT = 0
    WHILE (@i < @n)
    BEGIN
        DECLARE @firstname VARCHAR(25), @surname VARCHAR(40)

        -- NEWID() is looping through rows
        SET @firstname = (SELECT TOP 1  firstnames.firstname FROM firstnames ORDER BY NEWID())
        SET @surname = (SELECT TOP 1 surnames.surname FROM surnames ORDER BY NEWID())

        IF EXISTS (SELECT 1 FROM perdata WHERE @firstname = perdata.firstname AND @surname = perdata.surname)
            CONTINUE
        
        INSERT INTO perdata VALUES (@firstname, @surname)

        SET @i = @i + 1
    END
END

In [62]:
EXEC insertRandomData @n = 30

SELECT * from perdata

: Msg 50110, Level 16, State 1, Procedure insertRandomData, Line 13
The n paramater is too large.

In [63]:
EXEC insertRandomData @n = 15

SELECT * from perdata

firstname,surname
Artur,Kaminski
Artur,Lewandowski
Artur,Zielinski
Dariusz,Kaminski
Dariusz,Kowalski
Geralt,Kaminski
Geralt,Nowak
Lukasz,Lewandowski
Lukasz,Nowak
Roman,Kowalczyk
Roman,Nowak
Roman,Zielinski
Tomasz,Kowalczyk
Tomasz,Kowalski
Tomasz,Zielinski

In [64]:
DROP TABLE IF EXISTS firstnames
GO
DROP TABLE IF EXISTS surnames
GO
DROP TABLE IF EXISTS perdata
GO