# Zad 4

Utworzyć procedurę, która jako parametr bierze tabelę (czytelnik id) identyfikatorów czytelników, a jako wynik zwraca tabelę o dwóch kolumnach (czytelnik id,suma dni), gdzie dla każdego przekazanego czytelnika dołączona jest sumaryczna liczba dni, na którą dany czytelnik wypożyczył książki.

In [33]:
DROP PROCEDURE IF EXISTS sumaWypozyczen
DROP TYPE IF EXISTS Czytelnicy

In [34]:
CREATE TYPE Czytelnicy AS TABLE(czytelnik_id INT)
GO

CREATE PROCEDURE sumaWypozyczen @Czytelnicy Czytelnicy READONLY AS  
BEGIN
    SELECT r.czytelnik_id, SUM(DATEDIFF(day, Wypozyczenie.Data, GETDATE())) as "suma_dni"
    FROM 
        @Czytelnicy r,
        Wypozyczenie
    WHERE
        r.Czytelnik_ID = Wypozyczenie.Czytelnik_ID
    GROUP BY r.czytelnik_id
END

In [35]:
DECLARE @temp Czytelnicy

INSERT INTO @temp(czytelnik_id) 
VALUES (1), (2), (3)

EXEC sumaWypozyczen @temp

czytelnik_id,suma_dni
1,3866
2,2302
3,3815